*{
    margin: 0;
   padding: 0;
}

.header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.footer {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    padding: 20px;
    margin-bottom: 50px; 
}

.content p {
    margin-bottom: 20px;
    font-size: 30px;
}